wsdl/PDQSupplier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PDQSupplier" targetNamespace="urn:ihe:iti:pdqv3:2007"
    xmlns:tns="urn:ihe:iti:pdqv3:2007" xmlns:wsoap11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hl7="urn:hl7-org:v3">
    <documentation>Example WSDL for PDQ Patient Demogrpahics Supplier</documentation>
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201305UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201306UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/QUQI_IN000003UV01.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
        </xsd:schema>
    </types>
    <message name="PRPA_IN201305UV02_Message">
        <part element="hl7:PRPA_IN201305UV02" name="Body"/>
    </message>
    <message name="PRPA_IN201306UV02_Message">
        <part element="hl7:PRPA_IN201306UV02" name="Body"/>
    </message>
    <message name="QUQI_IN000003UV01_Message">
        <part element="hl7:QUQI_IN000003UV01" name="Body"/>
    </message>
    <message name="QUQI_IN000003UV01_Cancel_Message">
        <part element="hl7:QUQI_IN000003UV01_Cancel" name="Body"/>
    </message>
    <message name="MCCI_IN000002UV01_Message">
        <part element="hl7:MCCI_IN000002UV01" name="Body"/>
    </message>
    <portType name="PDQSupplier_PortType">
        <operation name="PDQSupplier_PRPA_IN201305UV02">
            <input message="tns:PRPA_IN201305UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201305UV02"/>
            <output message="tns:PRPA_IN201306UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201306UV02"/>
        </operation>
        <operation name="PDQSupplier_QUQI_IN000003UV01_Continue">
            <input message="tns:QUQI_IN000003UV01_Message"
                wsaw:Action="urn:hl7-org:v3:QUQI_IN000003UV01_Continue"/>
            <output message="tns:PRPA_IN201306UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201306UV02"/>
        </operation>
        <operation name="PDQSupplier_QUQI_IN000003UV01_Cancel">
            <input message="tns:QUQI_IN000003UV01_Cancel_Message"
                wsaw:Action="urn:hl7-org:v3:QUQI_IN000003UV01_Cancel"/>
            <output message="tns:MCCI_IN000002UV01_Message"
                wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>
    </portType>
    <binding name="PDQSupplier_Binding_Soap12" type="tns:PDQSupplier_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PDQSupplier_PRPA_IN201305UV02">
            <wsoap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201305UV02"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="PDQSupplier_QUQI_IN000003UV01_Continue">
            <wsoap12:operation soapAction="urn:hl7-org:v3:QUQI_IN000003UV01_Continue"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="PDQSupplier_QUQI_IN000003UV01_Cancel">
            <wsoap12:operation soapAction="urn:hl7-org:v3: QUQI_IN000003UV01_Cancel"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PDQSupplier_Service">
        <port binding="tns:PDQSupplier_Binding_Soap12" name="PDQSupplier_Port_Soap12">
            <wsoap12:address location="http://example.org/PDQSupplier_Soap12"/>
        </port>
    </service>
</definitions>
