wsdl/XCPDRespondingGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="XCPDRespondingGateway" targetNamespace="urn:ihe:iti:xcpd:2009"
    xmlns:tns="urn:ihe:iti:xcpd:2009" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:hl7="urn:hl7-org:v3">
    <wsdl:documentation>
    Example WSDL for XCPD Responding Gateway
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
        targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201305UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" 
        targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201306UV02.xsd"/>
        </xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xcpd:2009">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/IHE/XCPD_PLQ.xsd"/>
		</xsd:schema>
		<!-- Include the Deferred Response Message Schema
		     Uncomment this section if Deferred Response is supported
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
				<xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
		</xsd:schema>
		-->

		<!-- Include the Revoke Message Schema
		     Uncomment this section if Revoke is being supported
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
			xmlns:hl7="urn:hl7-org:v3"> 
			<xsd:include
				schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201303UV02.xsd" />
		</xsd:schema>
		-->
    </wsdl:types>
    
    <wsdl:message name="PRPA_IN201305UV02_Message">
        <wsdl:part element="hl7:PRPA_IN201305UV02" name="Body"/>
    </wsdl:message>
    <wsdl:message name="PRPA_IN201306UV02_Message">
        <wsdl:part element="hl7:PRPA_IN201306UV02" name="Body"/>
    </wsdl:message>

	<!-- Define the Deferred Response Message
		     Uncomment this section if Deferred Response is supported
	<wsdl:message name="MCCI_IN000002UV01_Message">
		<wsdl:part name="Body" element="hl7:MCCI_IN000002UV01"/>
	</wsdl:message>
		-->

    <!-- The following two message elements are optional, delete if not needed -->
	<wsdl:message name="PatientLocationQuery_Message">
		<wsdl:part name="body" element="tns:PatientLocationQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="PatientLocationQueryResponse_Message">
		<wsdl:part name="body" element="tns:PatientLocationQueryResponse"/>
	</wsdl:message>

	<!-- Define the Revoke Message
	     Uncomment this section if Revoke is being supported
	<wsdl:message name="PRPA_IN201303UV02_Message">
		<wsdl:part element="hl7:PRPA_IN201303UV02" name="Body" />
	</wsdl:message>
	-->
		
    <wsdl:portType name="RespondingGateway_PortType">
        <wsdl:operation name="RespondingGateway_PRPA_IN201305UV02">
            <wsdl:input message="tns:PRPA_IN201305UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201305UV02:CrossGatewayPatientDiscovery"/>
            <wsdl:output message="tns:PRPA_IN201306UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201306UV02:CrossGatewayPatientDiscovery"/>
        </wsdl:operation>
        
    <!-- The following operation element is optional, delete if not needed -->
		<wsdl:operation name="RespondingGateway_PatientLocationQuery">
			<wsdl:input message="tns:PatientLocationQuery_Message" 
		        wsaw:Action="urn:ihe:iti:2009:PatientLocationQuery"/>
			<wsdl:output message="tns:PatientLocationQueryResponse_Message" 
		        wsaw:Action="urn:ihe:iti:2009:PatientLocationQueryResponse"/>
		</wsdl:operation>

	<!-- Define the Deferred Response Message
		 Uncomment this section if Deferred Response is supported
		<wsdl:operation name="RespondingGateway_Deferred_PRPA_IN201305UV02">
			<wsdl:input message="tns:PRPA_IN201305UV02_Message" wsaw:Action="urn:hl7-org:v3:PRPA_IN201305UV02:Deferred:CrossGatewayPatientDiscovery"/>
		<wsdl:output message="tns:MCCI_IN000002UV01_Message" wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
		</wsdl:operation>
		-->
		
  		<!-- Define the Revoke message
	     Uncomment this section if Revoke is being supported
		<wsdl:operation name="RespondingGateway_PRPA_IN201303UV02">
			<wsdl:input message="tns:PRPA_IN201303UV02_Message"
				wsaw:Action="urn:hl7-org:v3:PRPA_IN201303UV02" />
			<wsdl:output message="tns:MCCI_IN000002UV01_Message"
				wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01" />
		</wsdl:operation>
		-->

  </wsdl:portType>
    <wsdl:binding name="RespondingGateway_Binding_Soap12" type="tns:RespondingGateway_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RespondingGateway_PRPA_IN201305UV02">
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

		<!-- The following operation element are optional, delete if not needed -->
		<wsdl:operation name="RespondingGateway_PatientLocationQuery">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		

	<!-- Define the Deferred Response Message
		 Uncomment this section if Deferred Response is supported
		<wsdl:operation name="RespondingGateway_Deferred_PRPA_IN201305UV02">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		-->

	<!-- Define the Revoke Message
		 Uncomment this section if Revoke is supported
		<wsdl:operation name="RespondingGateway_PRPA_IN201303UV02">
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		-->

	</wsdl:binding>
    
    
    <wsdl:service name="RespondingGateway_Service">
        <wsdl:port binding="tns:RespondingGateway_Binding_Soap12" name="RespondingGateway_Port_Soap12">
            <soap12:address location="https://example.org/RespondingGateway_Soap12"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
